body {
    background-color: slategray;
}


.container {
    background-color: lightgray;
}


/* .card, .card-header {
    background-color: slategray;
} */

/* .card-body {
    display:inline-block;
} */

/* #h3 {
    display: inline;
} */